/* Colors */
$color-white: #fff;
$color-light-gray: #f4f4f4;
$color-green: #4CAF50;
$color-darker-green: #3e8e41;
$color-off-white: #f9f9f9;
$color-red: #dc3545;
$color-darker-red: #c82333;
$color-transparent-white: rgba(255, 255, 255, 0.1);
$color-dodger-blue: #1e90ff;
$color-darker-dodger-blue: #187bcd;
